<h1> Datathon Capgemini </h1>

<h2> Setup </h2>

Abrir archivos csv en un dataset distinto. Crear diccionarios

In [1]:
### Import libraries

import csv
import pandas as pd
import numpy as np
# import time

In [2]:
path = "Tablas/tabla_compras_1.csv"
df_1 = pd.read_csv(path, sep = ';')
df_1

        id_linea  id_orden  id_producto  incluido_orden_carrito  reordenado
0              0         1        49302                       1           1
1              1         1        11109                       2           1
2              2         1        10246                       3           0
3              3         1        49683                       4           0
4              4         1        43633                       5           1
...          ...       ...          ...                     ...         ...
276918    276918    674669         4957                      10           0
276919    276919    674669        11925                      11           0
276920    276920    674669        43442                      12           0
276921    276921    674669        36116                      13           0
276922    276922    674713        49235                       1           1

[276923 rows x 5 columns]

In [3]:
path = "Tablas/tabla_compras_2.csv"
df_2 = pd.read_csv(path, sep = ';')
df_2

        id_linea  id_orden  id_producto  incluido_orden_carrito  reordenado
0         276923    674713        27845                       2           1
1         276924    674713         1940                       3           1
2         276925    674720        19488                       1           1
3         276926    674720         1560                       2           0
4         276927    674720        35507                       3           1
...          ...       ...          ...                     ...         ...
276918    553841   1362011        48600                      15           0
276919    553842   1362018        47766                       1           1
276920    553843   1362018        24852                       2           1
276921    553844   1362018        21927                       3           0
276922    553845   1362018         4367                       4           0

[276923 rows x 5 columns]

In [4]:
path = "Tablas/tabla_compras_3.csv"
df_3 = pd.read_csv(path, sep = ';')
df_3

        id_linea  id_orden  id_producto  incluido_orden_carrito  reordenado
0         553846   1362018        25093                       5           0
1         553847   1362018        48595                       6           0
2         553848   1362018        40516                       7           0
3         553849   1362018        49683                       8           1
4         553850   1362018        45007                       9           1
...          ...       ...          ...                     ...         ...
276918    830764   2048303        27209                       2           1
276919    830765   2048303          432                       3           1
276920    830766   2048303        38428                       4           1
276921    830767   2048303        26040                       5           1
276922    830768   2048303         4006                       6           1

[276923 rows x 5 columns]

In [5]:
path = "Tablas/tabla_compras_4.csv"
df_4 = pd.read_csv(path, sep = ';')
df_4

        id_linea  id_orden  id_producto  incluido_orden_carrito  reordenado
0         830769   2048303        19604                       7           1
1         830770   2048303        15924                       8           1
2         830771   2048303        33331                       9           1
3         830772   2048303        28199                      10           1
4         830773   2048303         5077                      11           1
...          ...       ...          ...                     ...         ...
276918   1107687   2737917        49683                       4           1
276919   1107688   2737917        44628                       5           1
276920   1107689   2737917        39984                       6           1
276921   1107690   2737917        17794                       7           1
276922   1107691   2737917         1529                       8           1

[276923 rows x 5 columns]

In [6]:
path = "Tablas/tabla_compras_5.csv"
df_5 = pd.read_csv(path, sep = ';')
df_5

        id_linea  id_orden  id_producto  incluido_orden_carrito  reordenado
0        1107692   2737917        44359                       9           1
1        1107693   2737917        28574                      10           1
2        1107694   2737917         4605                      11           0
3        1107695   2737929        44987                       1           1
4        1107696   2737929        25535                       2           0
...          ...       ...          ...                     ...         ...
276918   1384610   3421063        49235                       1           1
276919   1384611   3421063        13565                       2           1
276920   1384612   3421063        14233                       3           1
276921   1384613   3421063        35548                       4           1
276922   1384614   3421070        35951                       1           1

[276923 rows x 5 columns]

In [7]:
path = "Tablas/tabla_departamento.csv"
df_dep = pd.read_csv(path, sep = ';')

df_dep = df_dep.set_index('id_departamento').T.to_dict('list')
df_dep

{1: ['CONGELADOS'],
 2: ['OTROS'],
 3: ['PANADERÍA'],
 4: ['FRUTAS Y VERDURAS'],
 5: ['BEBIDAS ALCOHOLICAS'],
 6: ['INTERNACIONALES'],
 7: ['BEBIDAS'],
 8: ['MASCOTAS'],
 9: ['PASTAS Y PRODUCTOS SECOS'],
 10: ['PRODUCTOS A GRANEL'],
 11: ['CUIDADO PERSONAL'],
 12: ['MARISCOS'],
 13: ['DESPENSA'],
 14: ['DESAYUNO'],
 15: ['PRODUCTOS ENLATADOS'],
 16: ['HUEVOS Y LÁCTEOS'],
 17: ['FAMILIAR'],
 18: ['BEBÉS'],
 19: ['MERIENDAS'],
 20: ['FIAMBRES'],
 21: ['SIN CATALOGAR']}

In [8]:
path = "Tablas/tabla_ordenes_final.csv"
df_or_fin = pd.read_csv(path, sep = ';')
df_or_fin.head()

,id_orden,id_usuario,numero_orden,orden_hora_del_dia,dias_desde_pedido_anterior
0,1,112108,4,10,9
1,36,79431,23,18,30
2,38,42756,6,16,24
3,96,17227,7,20,30
4,98,56463,41,8,14

In [9]:
path = "Tablas/tabla_pasillos.csv"
df_pasillos = pd.read_csv(path, sep = ';')
df_pasillos

df_pasillos = df_pasillos.set_index('id_pasillo').T.to_dict('list')
df_pasillos

{1: ['SOPAS PREPARADAS ENSALADAS'],
 2: ['QUESOS DE ESPECIALIDAD'],
 3: ['BARRAS DE GRANOLA DE ENERGÍA'],
 4: ['ALIMENTOS INSTANTÁNEOS'],
 5: ['PREPARACIÓN DE LA CARNE MARINADOS'],
 6: ['OTROS'],
 7: ['CARNE ENVASADA'],
 8: ['POSTRES DE PANADERÍA'],
 9: ['SALSA PARA PASTA'],
 10: ['UTENSILIOS DE COCINA'],
 11: ['ALERGIAS GRIPE'],
 12: ['PASTA FRESCA'],
 13: ['COMIDAS PREPARADAS'],
 14: ['ALTERNATIVAS DE CARNE TOFU'],
 15: ['MARISCOS ENVASADOS'],
 16: ['HIERBAS FRESCAS'],
 17: ['INGREDIENTES PARA HORNEAR'],
 18: ['FRUTOS SECOS A GRANEL FRUTAS VERDURAS'],
 19: ['ACEITES VINAGRES'],
 20: ['HIGIENE ORAL'],
 21: ['QUESOS ENVASADOS'],
 22: ['CUIDADO DEL CABELLO'],
 23: ['PALOMITAS'],
 24: ['FRUTAS FRESCAS'],
 25: ['JABÓN'],
 26: ['CAFÉ'],
 27: ['CERVEZAS REFRIGERADORES'],
 28: ['VINOS TINTOS'],
 29: ['MIELES JARABES NÉCTARES'],
 30: ['ALIMENTOS LATINOS'],
 31: ['REFRIGERADOS'],
 32: ['PRODUCTOS ENVASADOS'],
 33: ['ALIMENTOS KOSHER'],
 34: ['MARISCOS CARNE CONGELADA'],
 35: ['AVES DE CORRAL'],
 36: ['MANTECA'],
 37: ['HELADOS'],
 38: ['COMIDA CONGELADA'],
 39: ['MARISCOS'],
 40: ['COMIDA PARA PERROS'],
 41: ['COMIDA PARA GATOS'],
 42: ['VEGETARIANA VEGANA CONGELADA'],
 43: ['BOLLOS ROLLOS'],
 44: ['CUIDADO DE OÍDO Y OJOS'],
 45: ['DULCES Y CHOCOLATES'],
 46: ['CHICLES Y OTROS DULCES'],
 47: ['SUPLEMENTOS DE VITAMINAS'],
 48: ['PASTELERÍA PARA DESAYUNO'],
 49: ['AVES DE CORRAL ENVASADAS'],
 50: ['BOCADILLOS FRUTAS VEGETALES'],
 51: ['SALSAS EN CONSERVA PARA UNTAR'],
 52: ['DESAYUNOS CONGELADOS'],
 53: ['CREMA'],
 54: ['ARTÍCULOS DE PAPEL'],
 55: ['NECESIDADES DEL AFEITADO'],
 56: ['PAÑALES TOALLITAS'],
 57: ['GRANOLA'],
 58: ['PANES MASAS CONGELADAS'],
 59: ['COMIDAS ENLATADAS JUDÍAS'],
 60: ['BOLSAS DE BASURA REVESTIMIENTOS'],
 61: ['GALLETAS PASTELES'],
 62: ['VINOS BLANCOS'],
 63: ['ARROCES Y OTROS'],
 64: ['BEBIDAS DEPORTIVAS ENERGETICAS'],
 65: ['SUSTITUTOS DE ALIMENTOS DE PROTEÍNAS'],
 66: ['COMIDAS ASIÁTICAS'],
 67: ['SALSAS FRESCAS TAPENADES'],
 68: ['GRANOS A GRANEL'],
 69: ['SOPAS Y CALDOS'],
 70: ['DIGESTIÓN'],
 71: ['POSTRES REFRIGERADOS PUDÍN'],
 72: ['CONDIMENTOS'],
 73: ['CUIDADO FACIAL'],
 74: ['DETERGENTES PARA PLATOS'],
 75: ['LAVANDERÍA'],
 76: ['ALIMENTOS DE LA INDIA'],
 77: ['BEBIDAS SIN ALCOHOL'],
 78: ['GALLETAS'],
 79: ['PIZZAS CONGELADAS'],
 80: ['DESODORANTES'],
 81: ['VERDURAS EN CONSERVA Y EN FRASCOS'],
 82: ['ACCESORIOS PARA BEBÉS'],
 83: ['VEGETALES FRESCOS'],
 84: ['LECHES'],
 85: ['ALMACENAMIENTO DE ALIMENTOS'],
 86: ['HUEVOS'],
 87: ['MÁS HOGARES'],
 88: ['DIFERENCIALES'],
 89: ['ADEREZOS PARA ENSALADAS Y CONDIMENTOS'],
 90: ['MEZCLAS DE BEBIDAS DE CACAO'],
 91: ['BEBIDAS VEGETALES Y SIN LACTOSA'],
 92: ['FÓRMULA COMIDA DE BEBÉ'],
 93: ['PANADERÍA DESAYUNO'],
 94: ['TÉ'],
 95: ['MARISCOS CARNE ENLATADA'],
 96: ['CARNE DE ALMUERZO'],
 97: ['SUMINISTROS PARA HORNEAR Y DECORACIÓN'],
 98: ['NÉCTARES DE JUGO'],
 99: ['PURÉ DE MANZANA Y FRUTAS ENLATADAS'],
 100: ['SIN CLASFICAR'],
 101: ['AMBIENTADORES Y VELAS'],
 102: ['PRODUCTOS DE BAÑO PARA BEBÉ Y CUIDADO DEL CUERPO'],
 103: ['CUBIERTAS PARA HELADOS'],
 104: ['ESPECIAS CONDIMENTOS'],
 105: ['PASTAS GELATINAS HORNEAR MEZCLAS'],
 106: ['PERROS CALIENTES TOCINO SALCHICHAS'],
 107: ['CHIPS DE GALLETAS SALADAS'],
 108: ['OTROS QUESOS CREMAS'],
 109: ['PROTECCIÓN DE LA PIEL'],
 110: ['ACEITUNAS ENCURTIDAS BIENES'],
 111: ['PLACAS CUENCOS TAZAS CUBIERTOS'],
 112: ['PAN DE MOLDE'],
 113: ['JUGO CONGELADO'],
 114: ['PRODUCTOS DE LIMPIEZA'],
 115: ['SELTZER AGUA Y AGUA CON GAS'],
 116: ['PRODUCTOS CONGELADOS'],
 117: ['FRUTA SEMILLAS FRUTOS SECOS'],
 118: ['PRIMEROS AUXILIOS'],
 119: ['POSTRE CONGELADO'],
 120: ['YOGUR'],
 121: ['CEREAL'],
 122: ['MOSTRADOR DE CARNE'],
 123: ['ENVASADOS \u200b\u200bDE FRUTAS Y VEGETALES'],
 124: ['BEBIDAS ESPIRITUOSAS'],
 125: ['MEZCLA DE APERITIVOS MEZCLA DE FRUTOS SECOS'],
 126: ['CUIDADO FEMENINO'],
 127: ['LOCIONES DE JABÓN PARA EL CUERPO'],
 128: ['PAN Y TORTILLAS'],
 129: ['APERITIVOS CONGELADOS'],
 130: ['MEZCLAS PARA TORTITAS DE CEREALES'],
 131: ['PASTAS SECAS'],
 132: ['BELLEZA'],
 133: ['ALIVIO DEL DOLOR'],
 134: ['ESPECIALIDAD DE VINOS CAVAS']}

In [10]:
path = "Tablas/tabla_producto.csv"
df_prod = pd.read_csv(path, sep = ';')
df_prod.head()

,id_producto,nombre_producto,id_pasillo,id_departamento
0,1,GALLETAS DEL EMPAREDADO DEL CHOCOLATE,61,19
1,2,TODAS ESTACIONES DE SALT,104,13
2,3,ROBUSTA DE ORO SIN AZÚCAR TÉ OOLONG,94,7
3,4,SALSA INTELIGENTES ONES FAVORITOS MINI CLÁSICO...,38,1
4,5,EN CUALQUIER MOMENTO SALSA VERDE CHILE,5,13

In [11]:
# ¿Cómo asociar los productos a cada orden? ¿Unificar en una tabla? Añadiendo en las tablas de órdenes buscando la id de la orden e id de usuario
df_1['id_orden']
df_1_u = []
#df_1.filter(np.where(df_1['id_orden'] == df_or_fin))
# np.where(df_1['id_orden'] == df_or_fin['id_orden'])

# Juntar todas las tablas de compras
df_compras = [df_1, df_2, df_3, df_4, df_5]
df_compras = pd.concat(df_compras)

## Reordenar datasets por id de orden
df_compras.sort_values(by='id_orden')
df_or_fin.sort_values(by='id_orden')
# Where id orden iguales y poner el id_usuario
# df_or_fin
df_compras

        id_linea  id_orden  id_producto  incluido_orden_carrito  reordenado
0              0         1        49302                       1           1
1              1         1        11109                       2           1
2              2         1        10246                       3           0
3              3         1        49683                       4           0
4              4         1        43633                       5           1
...          ...       ...          ...                     ...         ...
276918   1384610   3421063        49235                       1           1
276919   1384611   3421063        13565                       2           1
276920   1384612   3421063        14233                       3           1
276921   1384613   3421063        35548                       4           1
276922   1384614   3421070        35951                       1           1

[1384615 rows x 5 columns]

In [12]:
# Asociar id de usuario a cada orden

df_all = pd.merge(df_compras, df_or_fin, on = 'id_orden')
df_all

,id_linea,id_orden,id_producto,incluido_orden_carrito,reordenado,id_usuario,numero_orden,orden_hora_del_dia,dias_desde_pedido_anterior
0,0,1,49302,1,1,112108,4,10,9
1,1,1,11109,2,1,112108,4,10,9
2,2,1,10246,3,0,112108,4,10,9
3,3,1,49683,4,0,112108,4,10,9
4,4,1,43633,5,1,112108,4,10,9
...,...,...,...,...,...,...,...,...,...
1384610,1384610,3421063,49235,1,1,169679,30,10,4
1384611,1384611,3421063,13565,2,1,169679,30,10,4
1384612,1384612,3421063,14233,3,1,169679,30,10,4
1384613,1384613,3421063,35548,4,1,169679,30,10,4
1384614,1384614,3421070,35951,1,1,139822,15,10,8

In [13]:
# Clasificación o clustering. Siendo X id_usuario id_orden e y id_producto
# Se podría ver que pasillos son los que más frecuenta cada timpo de usuario (haciendo un clustering de los clientes, posiblemente)
# ¿Clustering para designar tipos de usuario? ¿Tener en cuenta días desde el pedido anterior para ver si es frecuente?

In [14]:
# Clustering jerárquico

from scipy import ndimage 
from scipy.cluster import hierarchy 
from scipy.spatial import distance_matrix 
from matplotlib import pyplot as plt 
from sklearn import manifold, datasets 
from sklearn.cluster import AgglomerativeClustering 
from sklearn.datasets.samples_generator import make_blobs 
%matplotlib inline

X_1 = df_all[['id_usuario', 'id_orden', 'orden_hora_del_dia', 'dias_desde_pedido_anterior']]
y_1 = df_all['id_producto']

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

NameError: name 'min_max_scaler' is not defined